version: '3.7'

services:
  app:
    image: netdata/netdata:latest
    ports:
      - 19999:19999/tcp
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    security_opt:
      - apparmor=unconfined
    cap_add:
      - SYS_PTRACE
    deploy:
      replicas: 5
